{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ id }}{% endblock %}

{% block content %}
    <h1>La Catégorie {{ id }}</h1>
    <h2>{{ libelle }}</h2>
    
    <p>{{ description }}</p> 
    
    <br>
    <a href="/giftbox/categorie/{{ id }}/prestations">Voir les prestations →</a><br>
    <a href="/giftbox/categories">← Retour à la liste</a>
{% endblock %}