<html>
<head>
    <meta charset="UTF-8">
    <title>Categorie {{ id }}</title>
</head>
<body>
    <h1>la Categorie {{ id }}</h1>
    <h2>{{ libelle }}</h2>
    <h2>{{ description }}</h2>
    <a href="/giftbox/categorie/{{ id }}/prestations">Voir les prestations →</a><br>
    <a href="/giftbox/categories">← Retour à la liste</a>
</body>
</html>
