{% extends 'base.html.twig' %}

{% block title %}{{ prestation.libelle }}{% endblock %}

{% block content %}
    <h1>{{ prestation.libelle }}</h1>
    <p>ID : {{ prestation.id }}</p>
    <p>Description : {{ prestation.description }}</p>
    <a href="{{ url_for('prestations_by_categorie', {id: categorie.id}) }}">← Retour aux prestations</a>
{% endblock %}