{% extends 'base.html.twig' %}

{% block title %}Box{% endblock %}

{% block content %}
    <h1>Affichage d'une box</h1>
    {% if box.kdo == 1 %}
    <p><em>{{ box.message_kdo }}</em></p>
{% endif %}

    <ul class="box">
{% for presta in box.prestations %}
        
            <li>
                <a href="{{ url_for('prestation', {id: presta.id}) }}">{{ presta.libelle }}</a>  | x{{presta.pivot.quantite}} | {{presta.tarif}}€
          
            </li>
        {% endfor %}

    </ul>
            <button onclick="window.print()">Imprimer</button>

{% endblock %}