{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ id }}{% endblock %}

{% block content %}
    <h1>La Catégorie {{ categorie.id }}</h1>
    <h2>{{ categorie.libelle }}</h2>
    
    <p>{{ description }}</p> 
    
    <br>
    <a href="{{ url_for('prestations_by_categorie', {id: id}) }}">Voir les prestations →</a><br>
    <a href="{{ url_for('categories') }}">← Retour à la liste</a>
{% endblock %}